@media screen and (max-width: 600px){
body {
    background-image: url(/images/pattern-background-mobile.svg);
    .card {
        width:375px;
        .cardImg {img {
            width:375px;
        }}
    }
}
}

@media screen and (max-width: 500px){
body {
    .card {
        width:300px;
        .cardImg {img {
            width:300px;
        }}
    }
}
}